*, *:before, *:after {
  box-sizing: border-box;
}

h0, h1, h2, h3, body {
     font-family: 'Roboto', sans-serif;
}


.mainlist, .topnavi, .map, .busstop, .content {
    width : 375px;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
    border-left: 1px solid;
    border-right: 1px solid;
}

.arrow {
    color: #6666ff;
}

/*top of screen nav*/

h1 {
  font-size: 1.3em;  
}


.topnavi {
    text-align: center;
    align-items: baseline;
    margin: auto;
    padding: 10px;
        
}

.arrow {
    display: inline-block;
    float: left;
}


.menu {    
    display: inline-block;
    float: right;
}


.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.busstop {
    color: #f0fff0;
    font-size: 1em;  
    background-color: black;  
    padding: 15px;
}




///*table body*////

.main-list {
    display: table;
    width: 100%;
    padding: 20px;
    border-bottom: 1px;  /*why border not working*/
}

.direction {
    background-color: #aabbcc;
    font-weight: bold;
    font-size: 19px;
    padding: 10px;
}

.list-row {
    display: table-row;
    
}

.b-info {
    font-size: 17px
}

.list-heading, .subheading {
    display: table-cell;
    font-weight: bold;
    width: 375px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  
}

.list-heading {
    display: table-header-group;
    background-color: #ddeeff;
    font-weight: bold;
    margin-left: 20px;
   
    
}


.b-info {
    display: table-cell;
    padding: 20px;
    margin: 0;
     
}

.list-body {
    display: table-row-group;
}
