*, *:before, *:after {
  box-sizing: border-box;
}

h0, h1, h2, h3 {
     font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 1.5em;  /*top of screen nav*/
}

h2 {   /*black nav above list*/
    background-color: black;  
    color: white;
    font-size: 20px;  
}




.topnavi {
    text-align: center;
    align-items: baseline;
        
}

.arrow {
    float: left;
}

.hbar {    /*need help with hamburger bar alignment*/
    

}










///*table body*////


.screen {
    background-image: url(../images/bb_screen.png);
    background-repeat: no-repeat;
  background-size: cover;


}




.content {
    width : 375px;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
}


table {
  table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    border-width: 5px solid #8E8E93;
    border-bottom-width: 1px;
}


tbody td {
  text-align: center;
}

    
th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

th, td {
  padding: 20px;


}







.content:hover {
    background-color: lightpink;
}
