*, *:before, *:after {
  box-sizing: border-box;
}

h0, h1, h2, h3 {
     font-family: 'Roboto', sans-serif;
}
 

.mainlist, .topnavi, .map, .busstop, .content {
    width : 375px;
    margin-left: 50%;
    margin-right: 50%;
    margin: auto;
}



/*top of screen nav*/

h1 {
  font-size: 1.3em;  
}


.topnavi {
    text-align: center;
    align-items: baseline;
    margin: auto;
    padding: 10px;
        
}

.arrow {
    display: inline-block;
    float: left;
}


.menu {    
    display: inline-block;
    float: right;
}


.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.busstop {
    color: white;
    font-size: 1em;  
    background-color: black;  
    padding: 10px;
}


.th:hover {
    background-color: lightpink;
}


///*table body*////

.table {
    display: table;
    width: 100%;
    padding: 20px;
    border-bottom: 1px;  /*why border not working*/
}

.direction {
    background-color: #aabbcc;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px;
}

.tRow {
    display: table-row;
}

.list-heading, .subheading {
    display: table-cell;
    width: 375px;
    padding: 10px;
}

.list-heading {
    display: table-header-group;
    background-color: #ddeeff;
    font-weight: bold;
    padding: 20px;
}


.tCell {
    display: table-cell;
    padding: 20px;
    margin: 0;
     
}

.list-body {
    display: table-row-group;
}
